# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Logs
*.log

# Cache and test reports
.pytest_cache/
.coverage
.cache
.mypy_cache/

# Build / dist
build/
dist/
*.egg-info/

# Flask instance folder
instance/
.webassets-cache

# System / IDE files
.DS_Store
.idea/
.vscode/

# Captured network traffic
*.pcap
*.pcapng
